body {
    background-color:blanchedalmond;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 3rem 3rem 5% 5%;
}
h1{
    font-size: 3rem;
    color:floralwhite;
    padding: 1rem;
}
h2{
    font-size: 2rem;
    padding: 1rem;
}
p{
    font-size: 1.5rem;
    padding: 1rem;
}
table{
    font-size: 1.5rem;
    padding: 1rem;
}
header>img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
nav ul{
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
    list-style: none;
    font-size: x-large;
    border-radius: 20px;
    margin: 1%;
}
nav li{
    display: inline-block;
    padding: 0 1rem;
}
nav a{
    color:aliceblue ;
    text-decoration: none;
}
#main_div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#container{
    position: relative;
    text-align: left;
    color: white;
    padding-left: 0;
    
}
#container p{
  position: absolute;
  bottom: 8px;
  left: 16px;
}
#container h1{
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translate(-50%, -50%);
  color:  #333;
}
#container img{
    position: relative;
    padding-left: 0;
    left: -16px;
    width: 101%;
    height: 101.7%;
    border-radius: 20px;
    
}
#main_div article{
    flex:1;
    margin: 0.75%;
    background-color: rgb(252, 168, 137);
    border-radius: 20px;
    padding-left: 1rem;
    padding-bottom: 1rem;
}
footer{
    display: flex;
    margin: 0.75%;
}
footer div{
    flex: 1;
}
#address table{
    position: relative;
    left: 60%;
    margin: 0px;    
}